/* Кольори */

/* Білий (осн. фон та дод. текст)– #ffffff; */
/* Колір бренду (активний) – #2196f3; */

/* Додатковий фон1 – background: #2f303a; */
/* Додатковий фон2 – background: #f5f4fa; */

/* Основний текст – color: #212121; */
/* Додатковий текст – color: #757575; */

/* Чорний – #000000; */
/* Білий з прозорістю – rgba(255, 255, 255, 0.6); */

:root {
  --white-base: #ffffff;
  --brand-color: #2196f3;
  --bgrd-primary: #2f303a;
  --bgrd-secondary: #f5f4fa;
  --txt-primary: #212121;
  --txt-secondary: #757575;
  --black: #000000;
  --white-transparency: rgba(255, 255, 255, 0.6);
}

body {
  background-color: var(--white-base);
  color: var(--txt-primary);
  font-family: 'Roboto', 'Helvetica Neue', 'Verdana', 'Tahoma', sans-serif;
}

.list {
  list-style: none;
}

/* Шапка лого */

.logo {
  font-family: 'Raleway';
  font-weight: 700;
  font-size: 26px;
  line-height: 1.2;
  letter-spacing: 0.03em;
  text-decoration: none;

  color: var(--brand-color);
}

.logo-black {
  color: var(--black);
}

.logo-white {
  color: var(--white-base);
}

/* Шапка посилання */

.link {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.1;
  letter-spacing: 0.02em;
  text-decoration: none;

  color: var(--txt-primary);
}

/* Шапка навігація */

.header-navigation .link.current {
  color: var(--brand-color);
}

.header-navigation .link:hover,
.header-navigation .link:focus {
  color: var(--brand-color);
}
/* Шапка контакти */

.header-contacts .link {
  color: var(--txt-secondary);
}

.header-contacts .link:hover,
.header-contacts .link:focus {
  color: var(--brand-color);
}

/* Герой */

.hero {
  background-color: var(--bgrd-primary);
}

.hero-title {
  font-weight: 900;
  font-size: 44px;
  line-height: 1.4;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;

  color: var(--white-base);
}

/* Кнопка Замовити послугу */

.hero-button {
  width: 216px;
  height: 50px;

  background: var(--brand-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
}

.text-button {
  font-weight: 700;
  font-size: 16px;
  line-height: 1.9;
  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;

  color: var(--white-base);
}

/* Секції */

/* Приховані заголовки */
.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px;
}

/* Заголовки h2 */
.section-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.2;
  text-align: center;
  letter-spacing: 0.03em;

  color: var(--txt-primary);
}

/* Переваги */

.benefits-subtitle {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.1;
  letter-spacing: 0.03em;
  text-transform: uppercase;

  color: var(--txt-primary);
}

.benefits-text {
  font-size: 14px;
  line-height: 1.7;
  letter-spacing: 0.03em;

  color: var(--txt-secondary);
}

/* Чим ми займаємося */

/* Команда */
.team {
  background-color: var(--bgrd-secondary);
}

.team-subtitle {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.2;
  text-align: center;
  letter-spacing: 0.03em;

  color: var(--txt-primary);
}

.team-text {
  font-size: 16px;
  line-height: 1.2;
  text-align: center;
  letter-spacing: 0.03em;

  color: var(--txt-secondary);
}

/* Підвал */

.footer {
  background-color: var(--bgrd-primary);
}

/* Підвал контакти */

.footer-link {
  font-style: normal;
  font-size: 14px;
  line-height: 1.7;
  letter-spacing: 0.03em;
  text-decoration: none;

  color: var(--white-transparency);
}

.maps-link {
  color: var(--white-base);
}

.footer-link:hover,
.footer-link:focus {
  color: var(--brand-color);
}
